* {
	box-sizing: border-box;
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	width: 100%;
	padding: 15px;
}

.flex-child {
	margin: 15px;
	position: relative;
}

#mask {
	position: absolute;
	top: 0;
	left: 0;
}

#segment-controls {
	display: none;
	
	& * {
		margin: auto 5px;
	}
}